<header class="header">

  <nav class="header-menu">
    <ul class="menu-list">

      <li class="menu-item">
        <a routerLink="/home" routerLinkActive="active-page" class="menu-link">Home</a>
      </li>

      <li class="menu-item">
        <a routerLink="/shop" routerLinkActive="active-page" class="menu-link">Shop</a>
      </li>

      <li class="menu-item">
        <a routerLink="/aboutus" routerLinkActive="active-page" class="menu-link">About Us</a>
      </li>

      <li class="menu-item">
        <a routerLink="/contact" routerLinkActive="active-page" class="menu-link">Contact</a>
      </li>

    </ul>
  </nav>

  <div class="basket">
    <img src="assets/icons/basket_ico.png" alt="basket_ico" class="basket-ico">
  </div>

</header>
