<div class="best-sell-products-wrap">
  <div class="sell-text-btn-wrap">
    <p class="sell-title">Best Selling<br>
      Products</p>
    <button class="sell-see-all-prods-btn">
      <span class="sell-see-all-btn-text">See all products</span>
      <img src="assets/icons/see_all_ico.png" alt="see_all_ico" class="sell-all-prods-ico">
    </button>
  </div>

  <div class="product-item-wrap">
    <div class="product-background">
      <img src="assets/images/products/product_img_01.png" alt="product_img" class="product-img">
      <div class="product-info">
        <div class="upper-info">
          <h2 class="product-name">Cammile</h2>
          <p class="product-rating">*****</p>
        </div>

        <div class="bottom-info">
          <h2 class="product-price">$65.00</h2>
          <button class="add-product-to-basket">
            <img src="assets/icons/add_product_ico.png" alt="add_product_ico" class="add-product-ico">
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="product-item-wrap">
    <div class="product-background">
      <img src="assets/images/products/product_img_02.png" alt="product_img" class="product-img">
      <div class="product-info">
        <div class="upper-info">
          <h2 class="product-name">Cammile</h2>
          <p class="product-rating">*****</p>
        </div>

        <div class="bottom-info">
          <h2 class="product-price">$65.00</h2>
          <button class="add-product-to-basket">
            <img src="assets/icons/add_product_ico.png" alt="add_product_ico" class="add-product-ico">
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="product-item-wrap">
    <div class="product-background">
      <img src="assets/images/products/product_img_03.png" alt="product_img" class="product-img">
      <div class="product-info">
        <div class="upper-info">
          <h2 class="product-name">Cammile</h2>
          <p class="product-rating">*****</p>
        </div>

        <div class="bottom-info">
          <h2 class="product-price">$65.00</h2>
          <button class="add-product-to-basket">
            <img src="assets/icons/add_product_ico.png" alt="add_product_ico" class="add-product-ico">
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
