.best-sell-products-wrap {
  height: 634px;
  width: 100%;
  margin-bottom: 182px;

  display: flex;
  justify-content: space-between;
}

.sell-text-btn-wrap {
  height: 100%;
  width: 380px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 32px;
}

.sell-title {
  font-family: 'Work Sans', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 64px;
  line-height: 75px;
  color: #081323;
}

.sell-see-all-prods-btn {
  height: 48px;
  width: 250px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  border: none;
  background: none;
  cursor: pointer;
}

.sell-see-all-btn-text {
  font-family: 'Work Sans', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: #4F4F4F;
}

.sell-all-prods-ico {
  width: 48px;
  height: 48px;
}



.product-item-wrap {
  width: 330px;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.product-background {
  width: 100%;
  height: 510px;
  background: #C1D0E4;
  border-radius: 50px;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.product-img {
  width: 330px;
  height: 333px;

  position: relative;
  top: -237px;
  margin-bottom: -200px;
}

.product-info {
  height: 260px;
  width: 100%;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 50px;

  padding: 26px 38px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.product-name, .product-rating {
  font-family: 'Work Sans', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 38px;
  color: #081323;
}

.product-rating {
  color: #b77500;
}

.bottom-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-price {
  font-family: 'Work Sans', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 38px;
  color: #081323;
}

.add-product-to-basket{
  border: none;
  background: none;
}

.add-product-ico {
  height: 64px;
  width: 64px;
  cursor: pointer;
  border-radius: 50%;
}
