<div class="perks-wrap">

  <div class="perk">
    <img src="assets/icons/perk_01_ico.png" alt="perk_ico" class="perk-ico">
    <div class="perk-text-wrap">
      <h2 class="perk-title">Free Shipping</h2>
      <p class="perk-description">No charge for each delivery</p>
    </div>
  </div>

  <div class="perk">
    <img src="assets/icons/perk_02_ico.png" alt="perk_ico" class="perk-ico">
    <div class="perk-text-wrap">
      <h2 class="perk-title">Quick Payment</h2>
      <p class="perk-description">100% secure paymant</p>
    </div>
  </div>

  <div class="perk">
    <img src="assets/icons/perk_03_ico.png" alt="perk_ico" class="perk-ico">
    <div class="perk-text-wrap">
      <h2 class="perk-title">24/7 Support</h2>
      <p class="perk-description">Quick support</p>
    </div>
  </div>

</div>
