<div class="interior-gallary-wrap">
  <p class="interior-title">Interior Plant Reference</p>
  <p class="undertext">make your home so comfortable with refreshing plants</p>

  <div class="img-gallery-wrap">
    <div class="img-left-wrap">
      <img src="assets/images/gallery/gallery_left_top.png" alt="upper_left_img" class="upper-left-img">
      <img src="assets/images/gallery/gallery_left_bottom.png" alt="bottom_left_img" class="bottom-left-img">
    </div>

    <img src="assets/images/gallery/gallery_right.png" alt="right-img" class="right-img">
  </div>
</div>
