<app-hero></app-hero>

<div class="page-content-wrap">

  <div class="perks-line">
    <div class="perk">
      <img src="" alt="perk_ico" class="perk-ico">
      <div class="perk_text_wrap">
        <h2 class="perk-title">Free Shipping</h2>
        <p class="perk-description">No charge for each delivery</p>
      </div>
    </div>

    <div class="perk">
      <img src="" alt="perk_ico" class="perk-ico">
      <div class="perk_text_wrap">
        <h2 class="perk-title">Quick Payment</h2>
        <p class="perk-description">100% secure paymant</p>
      </div>
    </div>

    <div class="perk">
      <img src="" alt="perk_ico" class="perk-ico">
      <div class="perk_text_wrap">
        <h2 class="perk-title">24/7 Suppor</h2>
        <p class="perk-description">Quick support</p>
      </div>
    </div>
  </div>

  <div class="best-sell-products">
    <div class="sell-text-btn-wrap">
      <h1 class="sell-title">Best Selling Products</h1>
      <button class="sell-see-all-prods">
        <span>see all products</span>
        <img src="" alt="see_all_ico" class="sell-all-prods-ico">
      </button>
    </div>

    <div class="product-item-wrap">
      <div class="product-background">
        <div class="product-info">
          <div class="upper-info">
            <h2 class="product-name">Cammile</h2>
            <p class="product-rating">* * * * *</p>
          </div>

          <div class="bottom-info">
            <h2 class="product-price">$65.00</h2>
            <button class="add-product-to-basket">
              <img src="" alt="add_product_ico" class="add-product-ico">
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="product-item-wrap">
      <div class="product-background">
        <div class="product-info">
          <div class="upper-info">
            <h2 class="product-name">Cammile</h2>
            <p class="product-rating">* * * * *</p>
          </div>

          <div class="bottom-info">
            <h2 class="product-price">$65.00</h2>
            <button class="add-product-to-basket">
              <img src="" alt="add_product_ico" class="add-product-ico">
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="product-item-wrap">
      <div class="product-background">
        <div class="product-info">
          <div class="upper-info">
            <h2 class="product-name">Cammile</h2>
            <p class="product-rating">* * * * *</p>
          </div>

          <div class="bottom-info">
            <h2 class="product-price">$65.00</h2>
            <button class="add-product-to-basket">
              <img src="" alt="add_product_ico" class="add-product-ico">
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="interior-gallary-wrap">
    <h1 class="interior-title">Interior Plant Reference</h1>
    <p class="undertext">make your home so comfortable with refreshing plants</p>

    <div class="img-gallery-wrap">
      <div class="img-left-wrap">
        <img src="" alt="upper_left_img" class="upper-left-img">
        <img src="" alt="bottol_left_img" class="bottol-left-img">
      </div>

      <img src="" alt="right-img" class="righ-img">
    </div>
  </div>

  <div class="how-to-care-wrap">
    <div class="care-text-wrap">
      <div class="title-undertext-wrap">
        <h1>How to care for plants</h1>
        <p>Take care of plants with all your heart</p>
      </div>

      <div class="care-list-wrap">
        <div class="care-item">
          <div class="care-item-ico">
            <img src="" alt="care_item_ico" class="care-item-ico">
          </div>

          <div class="care-item-text-wrap">
            <h1 class="care-item-title">Adjust Lighting</h1>
            <p class="care-item-description">When caring for indoor plants, make sure the room temperature is neither too cold nor too hot</p>
          </div>
        </div>

        <div class="care-item">
          <div class="care-item-ico">
            <img src="" alt="care_item_ico" class="care-item-ico">
          </div>

          <div class="care-item-text-wrap">
            <h1 class="care-item-title">Don't water too often</h1>
            <p class="care-item-description">Watering ornamental plants indoors does not have to be done every day.</p>
          </div>
        </div>

        <div class="care-item">
          <div class="care-item-ico">
            <img src="" alt="care_item_ico" class="care-item-ico">
          </div>

          <div class="care-item-text-wrap">
            <h1 class="care-item-title">Don't water too often</h1>
            <p class="care-item-description">Watering ornamental plants indoors does not have to be done every day.</p>
          </div>
        </div>

        <div class="care-item">
          <div class="care-item-ico">
            <img src="" alt="care_item_ico" class="care-item-ico">
          </div>

          <div class="care-item-text-wrap">
            <h1 class="care-item-title">Fertilize regularly</h1>
            <p class="care-item-description">The nutrients most indoor houseplants need are nitrogen for balance and potassium for stem strength</p>
          </div>
        </div>
      </div>
    </div>

    <div class="care-img-wrap">
      <img src="" alt="care_img" class="care-img">
    </div>
  </div>

</div>


